@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(59, 59, 59);
  background-color: rgb(255, 235, 233);
}

.container {
  max-width: 750px;
  margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.info p {
  font-weight: bold;
  margin-left: 20px;
  color: rgb(109, 109, 109);
}

@media(max-width:650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.avatar {
  border-radius: 20px;
  margin-bottom: 20px;
  width: 200px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #8d8d8d;
}

a:active {
  color: #d1d0d0;
}

a:visited {
  color: #b4b4b4;
}

.list {
  padding: 0 20px;
}

.list li {
  margin-bottom: 10px;
}

.card {
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.table td:nth-child(2),
td:nth-child(3) {
  color: rgb(94, 93, 93);
}

.bg-pink {
  background-color: rgb(250, 219, 219);
}

.bg-blue {
  background-color: #e6e6fa;
}

.bg-lavender {
  background-color: #d2d2ff;
}

.btn {
  border: none;
  background-color: rgb(59, 59, 59);
  color: white;
  width: 100px;
  height: 30px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: rgb(59, 59, 59);
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;

}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media(max-width: 650px) {
    .form-row {
    display: block;
}
.form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
}

.form-group label {
    display: block;
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.form-group input, textarea {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 1px solid #8d8d8d;
    color: black;
    padding: 15px 0 15px;
    outline: none;
    font-family: inherit;
}
